src/yamb/util/commands/xml/commands.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT commands (command* , menubar* , menu* , toolbar*)>

<!ELEMENT command EMPTY>

<!ATTLIST command  id          CDATA  #REQUIRED
                     description CDATA  #IMPLIED
                     icon        CDATA  #IMPLIED
                     accelerator CDATA  #IMPLIED
                     text        CDATA  #IMPLIED
                     group       CDATA  #IMPLIED >
<!ELEMENT menubar (menu)*>

<!ATTLIST menubar  id CDATA  #REQUIRED >
<!ELEMENT menu (menu | menuItem | separator)*>

<!ATTLIST menu  id   CDATA  #IMPLIED
                  text CDATA  #IMPLIED >
<!ELEMENT menuItem EMPTY>

<!ATTLIST menuItem  ref         CDATA  #IMPLIED
                      text        CDATA  #IMPLIED
                      displayIcon  (true | false )  'false' >
<!ELEMENT separator EMPTY>

<!ELEMENT toolbar (toolbarItem | separator)*>

<!ATTLIST toolbar  id CDATA  #REQUIRED >
<!ELEMENT toolbarItem EMPTY>

<!ATTLIST toolbarItem  ref     CDATA  #IMPLIED >
